*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Color */
    --red: #b10000;
    --white: #FBFBFB;
    --light-grey: #d9d9d961;
    --dark-blue: #304da8;
    --light-blue: #0000e0;
    --transparent-blue: #99b2ff7d;

    /* Spacing */
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;

    /* Radius */
    --radius-xs: 20px;
}

body {
    /* min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr; */
    font-family: "Arimo", sans-serif;
}
#root {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    font-family: "Arimo", sans-serif;
}

aside {
    background-color: var(--white);
}
aside > form {
    display: grid;
    grid-template-rows: auto;
    padding: var(--space-md);
}
.form-fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: var(--space-md);
    border: none;
}
.form-fieldset > legend {
    font-size: larger;
}
.form-fieldset > div {
    display: flex;
    flex-direction: column;
    padding: var(--space-xs) 0;
}
.form-fieldset > div > label {
    padding-bottom: var(--space-xs);
}
.form-fieldset > div > input, 
.form-fieldset > div > textarea {
    padding: var(--space-xs);
    font-family: "Arimo", sans-serif;
}

main {
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    padding: var(--space-md);
    background-color: var(--light-grey);
}
main > h1 { 
    padding: var(--space-xs);
}
.preview-header {
    height: 220px;
    
    border-top-left-radius: var(--radius-xs);
    border-top-right-radius: var(--radius-xs);
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: aqua;
}
.cv-preview-img {
    object-fit: cover;
    height: inherit;
    width: inherit;
}
#preview-header-heading {
    position: absolute;
    bottom: 0;
    color: var(--white);
    padding: var(--space-sm);
}

.cv-content-section {
    /* A4 format */
    width: 210mm;
    height: 297mm;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
    padding: var(--space-sm);
    background-color: var(--white);
}
.content-heading {
    color: var(--dark-blue);
    padding: var(--space-xs);
}
.content-style {
    border-left: 4px solid var(--dark-blue);
    padding: var(--space-xs);
}
.content-skill-style {
    display: flex;
    gap: var(--space-xs);
}
.skill-content {
    padding: var(--space-xs);
    width: max-content;
    text-align: center;
    border-radius: var(--radius-xs);
    color: var(--light-blue);
    background-color: var(--transparent-blue);
}
.download-cv-button {
    padding: var(--space-sm);
    margin: auto;
    color: var(--white);
    background: var(--dark-blue);
    border: 1px solid white;
}

.bold {
    font-weight: bold;
}
.light {
    font-weight: lighter;
    color: var(--light-blue);
}
.required {
    color: var(--red);
}

/* .cv-header {
    background-color: aqua;
}
.personal-details-section {
    background-color: rgb(0, 255, 72);
}
.education-section {
    background-color: rgb(111, 0, 255);
}
.experience-section {
    background-color: rgb(255, 0, 115);
} */