/* !! PUT THIS IN THE GENERAL STYLES SHEET */
/*
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Color */

    /* Spacing */
    /*
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
    /* font family*/
    /*
}   

/* ?? Keep the following for this file */
/*
.cv-container {
    /* A4 format */
    /*
    width: 210mm;
    height: 297mm;

    background-color: beige;
}

.cv-header {
    background-color: aqua;
}
.personal-details-section {
    background-color: rgb(0, 255, 72);
}
.education-section {
    background-color: rgb(111, 0, 255);
}
.experience-section {
    background-color: rgb(255, 0, 115);
} */